

*{
    margin: 0;
    padding: 0;
}

.NavBar{
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    min-height: 3rem;
}


.NavBar a{
    padding: 1rem;
    color: white;
}