@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --ff-primary: 'Prata', serif;
    --ff-secondary: 'Playfair Display', serif;
    --clr-light: #fff;
    --clr-dark: #1b1b1b;
    --clr-accent: #09cafa;
    --bs: 0.25em  0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
body{
    font-family: var(--ff-primary);
    
}

p{
    color: var(--clr-dark);
}

.NavBar{
    position: fixed;
    width: 100%;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-between;
    height: 10vh;
    z-index: 100;
}


.NavBar a{
    padding: 1rem;
    color: rgb(253, 244, 230);
    text-decoration: none;
}

.NavBar a:hover{
    text-decoration: none;
    color: var(--clr-accent);
}

.img-wrapper{
    position: relative;
    width: 100%;
    text-align: center;
    height: 100vh;
    background: url("./images/home-page-img5.jpg")  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-btn{
    margin: .5em;
    background: none;
    padding:0.5em 2em;
    border:0.2em solid var(--clr-dark);
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:var(--ff-secondary);
    font-weight:bold;
    text-align:center;
    transition: all 0.15s;
}

a.main-btn{
    color: var(--clr-dark);
    text-decoration: none;
}
a.main-btn:hover{
    color: var(--clr-accent);

}

.main-btn:hover{
    background: var(--clr-dark);
    color: var(--clr-accent);
    border-color: var(--clr-accent);
}

#shop-now{
    position: sticky;
    top: 66%;
    background: none;
    padding:0.5em 3em;
    border:0.2em solid white;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:var(--ff-secondary);
    font-weight:bold;
    color:white;
    text-align:center;
    transition: all 0.15s;
}

#shop-now:hover{
    background-color: white;
    color: black;
    border-color:#DDDDDD;
}

#orderDetails{
    display: none;
}
#shippingDetails{
    display: none;
}

#ordersRow1{
    display: none;
}
#ordersRow{
    display: none;
}

.shadowed-box{
    top: 15vh;
    box-shadow: var(--bs);
    padding: 2em;
    position: fixed;
    left: 20vw;
    right: 20vw;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .shadowed-box {
        left: 5vw;
        right: 5vw;
    }
  }
