.product-list-img {
    margin-top: 3em;
    margin-bottom: 1.5em;
    height: 6em;
    object-fit:scale-down;
}


.product-img{
    margin-left: auto;
    margin-right: auto;
    max-height: 25vh;
    max-width: 30vw;
    object-fit:scale-down;
    margin-bottom: 5vh;
}


.product-list-item{
    position: relative;
    text-align: center;
    height: 20em;
    border: solid .05em black;
    border-radius: 50%;
    box-shadow: 0px 6px;
    margin: 2em 0;
    transition: all;
}


.product-list-item h6{
    bottom: 5%;
    left: 5%;
}

.product-link-shadow{
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 0;
    border-radius: 50%;
}


.product-link-shadow:hover{
    z-index: 1;
    opacity: 1;
}

.product-link-wrapper{
    position: absolute;
    bottom: 25%;
    opacity: 0;
    left: 25%;
    transition: opacity .65s;
}
a.product-link{
    background: var(--clr-dark);
    padding:0.5em 3em;
    border:0.2em solid var(--clr-accent);
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:var(--ff-secondary);
    font-weight:bold;
    color: var(--clr-accent);
    text-align:center;
    transition: all 0.5s;

}

.product-link-shadow:hover .product-link-wrapper{
    opacity: 1;
}

.product-list-item:hover{
    border-color: var(--clr-accent);
    box-shadow: 0px 6px var(--clr-accent);

}

a.product-link:hover{
    text-decoration: none;
    background-color: white;
    color: var(--clr-accent);
}

.product-price{
    margin-top: 4em;
}


.background-hidden{
    background-color: black;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    position: fixed;
    opacity: .8;
}


#search-bar-hidden{
    display: none;
}
#search-bar-active{
    visibility: hidden;
    z-index: 6;
    width: 85%;
    background: none;
    color: white;
    border: 0;
    outline: 0;
    font-size: 2em;
    border-bottom: 2px solid white;
    animation: 1.2s fadeIn;
    animation-fill-mode: forwards;
}


.search-button{
    color: white;
    background: transparent;
    position: absolute !important;
}

.search-button-active{
    background: transparent;
    position: absolute !important;
    padding-right:1em;
    right: 0;

}

.search-button:hover{
    background: transparent;
    transform: scale(1.1);
}

.search-window,
.search-window-active,
.search-window-hidden{
    background: var(--clr-accent);
    height: 5em;
    width: 5em;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    color: white;
    padding: 1em;
    border-radius: 50%;
    z-index: 5;
    transition: bottom 1s, width .5s 1s, right 1s 1s, border-radius .5s 1s;
}

.search-window-active{
    bottom: 45vh;
    right:25vw;
    width:50vw;
    border-radius: 25px;

}

 

#product_qty{
    margin: .5em ;
}

@media only screen and (max-width: 600px) {
    .product-img {
       max-width: 60vw;
    }
  }

#cart-btn{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.product-box{
    padding-top: 10vh;
}

@keyframes fadeIn {
    99% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }

#back-to-products{
    font-size: 2em;
    position: absolute;
    left: 5%;
    color: var(--clr-accent);
}