.login-box{
    top: 30vh;
    box-shadow: var(--bs);
    padding: 2em;
    position: fixed;
    left:20vw;
    right: 20vw;
}

#signup-btn,
#login-btn{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}


